section.about 
	.container
		+blockBox("What we do", "Story about us", "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste tempore ducimus aut minima ex. Eaque impedit, quasi sed cumque ex optio accusamus eius, quod obcaecati non delectus eos sequi laborum.")
		.about-list 	
			.about-item 
				img.about-image(src="../images/img-about1.png", alt="")
				.about-content 
					i.fa.fa-users.about-icon
					span.about-title Supper Team
			.about-item 
				img.about-image(src="../images/img-about2.png", alt="")
				.about-content 
					i.fa.fa-users.about-icon
					span.about-title Supper Team
			.about-item 
				img.about-image(src="../images/img-about3.png", alt="")
				.about-content 
					i.fa.fa-users.about-icon
					span.about-title Supper Team
					
