section.quote  
    .container 
        .quote-container
            i.fa.fa-angle-left.quote-arrow.quote-arrow-left
            .quote-content
                .quote-icon
                    img(src="../images/img-quote.png")
                .quote-info 
                    p.quote-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi doloremque a perspiciatis minus pariatur itaque voluptas illum delectus necessitatibus, tempora sapiente nobis cupiditate, ipsum fugiat quos, rem ea enim reiciendis!
                    span.quote-author Jon Doe
            i.fa.fa-angle-right.quote-arrow.quote-arrow-right