section.service
    .container
        +blockBox("We work with", "Amazing Service")
        .service-container
            .service-list  
                +serviceItem("../images/amazing_icon1.png", "Photography", "Lorem input dolor sit amet, consectetur adipiscing elit, set do eiusmod tempor.")
                +serviceItem("../images/amazing_icon2.png", "Web design", "Lorem input dolor sit amet, consectetur adipiscing elit, set do eiusmod tempor.")
                +serviceItem("../images/amazing_icon3.png", "Creativity", "Lorem input dolor sit amet, consectetur adipiscing elit, set do eiusmod tempor.")
            .service-list 
                +serviceItem("../images/amazing_icon4.png", "SEO", "Lorem input dolor sit amet, consectetur adipiscing elit, set do eiusmod tempor.")
                +serviceItem("../images/amazing_icon5.png", "CSS/HTML", "Lorem input dolor sit amet, consectetur adipiscing elit, set do eiusmod tempor.")
                +serviceItem("../images/amazing_icon6.png", "Digital", "Lorem input dolor sit amet, consectetur adipiscing elit, set do eiusmod tempor.") 