html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333333;
  font-size: 14px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-box {
  text-align: center;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
}
.block-box-caption {
  font-family: "Kaushan Script", cursive;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.block-box-heading {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  padding-bottom: 3.5rem;
  position: relative;
}
.block-box-heading::after {
  content: "";
  width: 6.5rem;
  height: 4px;
  background-color: #e98382;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.block-box-desc {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #999999;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 10rem;
}
@media screen and (max-width: 767px) {
  .block-box-caption {
    font-style: 2rem;
  }
  .block-box-heading {
    font-style: 2.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .block-box-desc {
    font-style: 1.4rem;
    margin-bottom: 4rem;
  }
}

.header {
  min-height: 100rem;
  background: linear-gradient(to bottom, rgba(233, 131, 130, 0.8), rgba(238, 216, 137, 0.8)), url("../images/header-bg.jpg") no-repeat center/cover;
  color: white;
}
.header-logo {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
.header-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}
.header-menu-link {
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.25s linear;
}
.header-menu-icon {
  color: white;
}
.header-top {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.header-menu {
  display: flex;
}
.header-content {
  padding-top: 17rem;
  text-align: center;
  max-width: 84rem;
  margin: 0 auto;
}
.header-content-caption {
  font-size: 7.2rem;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 3rem;
}
.header-content-main {
  font-size: 15rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  position: relative;
}
.header-content-main::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 6rem;
  height: 0.5rem;
  background-color: white;
}
.header-content-more {
  text-transform: uppercase;
  color: white;
  padding: 1rem 3rem;
  border: 4px solid white;
  font-weight: bold;
  display: inline-block;
}
.header-bottom {
  margin-top: 15.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}
.header-bottom-item {
  padding-top: 2.5rem;
  border-top: 5px solid white;
  width: calc(25% - 30px);
  margin-left: 3rem;
  opacity: 0.6;
  position: relative;
  cursor: pointer;
  transition: all 0.25s linear;
}
.header-bottom-item::before {
  content: "";
  height: 5px;
  width: 7rem;
  background-color: #e98382;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  opacity: 0;
}
.header-bottom-item:hover, .header-bottom-item.is-active {
  opacity: 1;
}
.header-bottom-item:hover:before, .header-bottom-item.is-active:before {
  opacity: 1;
}
.header-bottom-number {
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 1rem;
}
.header-bottom-text {
  text-transform: uppercase;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .header-menu-item:not(:first-child) {
    margin-left: 5rem;
  }
  .header-menu-link {
    color: white;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 4px solid transparent;
    transition: all 0.25s linear;
  }
  .header-menu-link:hover {
    color: #eed889;
    border-bottom-color: #eed889;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    min-height: unset;
  }
  .header .header-bottom {
    margin-top: 10rem;
  }
  .header .header-content {
    padding-top: 10rem;
  }
  .header .header-content-main {
    font-size: 10rem;
  }
}
@media screen and (max-width: 767px) {
  .header .header-bottom-text {
    display: none;
  }
  .header .header-bottom {
    margin-top: 5rem;
  }
  .header .header-content {
    padding-top: 5rem;
  }
  .header .header-content-caption {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .header .header-content-main {
    font-size: 5rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }
  .header .header-bottom-item {
    padding-top: 1.5rem;
    text-align: center;
  }
  .header .header-bottom-item::before {
    width: 35%;
  }
  .header .header-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 30rem;
    display: block;
    padding: 2rem 2.5rem;
    z-index: 2;
    transform: translateX(100%);
    transition: transform 0.25 ease-in;
  }
  .header .header-menu.is-show {
    transform: translateY(0);
  }
  .header .header-menu-item {
    margin-bottom: 1rem;
  }
  .header .header-menu-icon {
    display: block;
    color: #333333;
    padding: 1.5rem;
  }
  .header .header-menu-icon:hover {
    color: #e98382;
  }
  .header .header-menu-link {
    color: #333333;
    width: 100%;
    padding: 1.5rem;
    border-radius: 4px;
  }
  .header .header-menu-link:hover {
    color: white;
    background-color: #eed889;
  }
  .header .header-toggle {
    display: inline-block;
  }
}

.about {
  padding-top: 9.3rem;
  padding-bottom: 11rem;
  background-color: white;
}
.about-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 3rem;
}
.about-item {
  position: relative;
  z-index: 1;
  transition: all 0.25s linear;
}
.about-item:hover {
  transform: translate(-1rem, -1rem);
}
.about-item:hover .about-content {
  opacity: 1;
  visibility: visible;
}
.about-item:hover::after {
  transform: translate(1rem, 1rem);
}
.about-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #95e1d3;
  transition: all 0.25s linear;
  z-index: -1;
}
.about-content {
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #e98382, #eed889);
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}
.about-icon {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.about-title {
  font-weight: bold;
  font-size: 1.8rem;
}
@media screen and (max-width: 767px) {
  .about {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .about-list {
    grid-template-columns: 100%;
    grid-row-gap: 2.5rem;
  }
}

.number {
  background-color: #95e1d3;
}
.number-list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.number-item {
  padding: 8.5rem 3.5rem;
  color: white;
  border-left: 1px solid white;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
}
.number-item:last-child {
  border-right: 1px solid white;
}
.number-item-count {
  font-size: 7.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.number-item-text {
  line-height: 1.4;
}
@media screen and (max-width: 1023px) {
  .number-item {
    padding: 5rem 1.5rem;
  }
  .number-item-count {
    font-size: 5rem;
    margin-bottom: 1rem;
  }
  .number-item-text {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  .number-list {
    display: block;
  }
  .number-item {
    width: 100%;
    border-left: 0;
    padding: 2.5rem 1.5rem;
  }
  .number-item:not(:last-child) {
    border-bottom: 1px solid white;
  }
  .number-item:last-child {
    border-right: 0;
  }
}

.service {
  padding: 11rem 0 12rem;
  background-color: white;
}
.service-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 6.5rem;
}
.service-list:first-child {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5rem;
  margin-bottom: 5rem;
}
.service-item {
  width: calc(33.33% - 2.7rem);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.service-item-icon {
  width: 3.5rem;
  margin: 0 3rem;
}
.service-item-title {
  font-weight: 500;
  color: #333333;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}
.service-item-desc {
  color: #999999;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.service-item-info {
  width: calc(100% - 9.5rem);
}
@media screen and (max-width: 1023px) {
  .service {
    padding: 5rem 0;
  }
  .service-list {
    display: block;
  }
  .service-item {
    width: 100%;
  }
  .service-item:not(:last-child) {
    margin-bottom: 3rem;
  }
}